{%extends 'admins/adminbase.html'%}
{%block contents%}


<section class="hero">
    <div class="container">
        <img src="https://www.shutterstock.com/image-illustration/digital-cybersecurity-concept-glowing-blue-260nw-2416521313.jpg"
             class="hero-icon"
             alt="Cybersecurity Shield">

        <h1>AI-Based Cybersecurity Policies and Procedures</h1>

        <p class="highlight">Admin Control & Intelligence Dashboard</p>

        <p>
            This administrative panel enables intelligent monitoring, policy generation,
            and user governance using AI-powered cybersecurity mechanisms.
        </p>
    </div>
</section>
<section class="content">
    <h2>Organizational Dataset</h2>
    <p>
        The organizational environment is a critical parameter in
        developing cybersecurity policies. For the generated policy to be
        able to address most of the security vulnerabilities and to be able
        to generate the necessary effective guidelines, it must match the
        organization's specific infrastructure, objectives, and risk
        register. For this reason, these security policies should be
        dynamically dependent on the organization's infrastructure.
    </p>
    <div class="grid">
        <div class="grid-item">
            <h1>What is a security policy</h1>
            <br>
            <p>
                A cybersecurity policy lists the technical and nontechnical assets an organization should safeguard. It
                also lists the
                possible threats to resources and provides regulations and
                guidelines to protect both them and the organization. Usually, a
                security policy is written in parallel to a procedure of execution,
                to ensure that it can be implementable and efficient.
                The policy and procedure highlight rules and assign roles for
                implementation and monitoring. A list of responsibilities should
                also be set and a risk register must be provided to encourage
                responsible parties to implement the policy and understand the
                possible harm of different security breaches.
            </p>
        </div>
        <div class="grid-item">
            <h1>What is a cybersecurity risk</h1>
            <br>
            <p>As described by various regulation institutes, a security risk
                is the likelihood of occurrence of a specific scenario that
                might cause loss or compromise of an organization's assets. Risk
                is also measured by the possible impact of the scenario on the
                specified assets. Assets can be data, systems, or even reputation
                and identity. In some other cases, security risks can be defined
                by a list of vulnerabilities that have not yet been shown but have
                the probability of occurrence at specific times which may cause
                harm. </p>
        </div>
        <div class="grid-item">
            <h1>Why do we need a Security Policy</h1>
            <br>
            <p>
                CyberSecurity policies serve as an effective framework for
                establishing and maintaining information security guidelines
                within an organization. These guidelines ensure the protection
                of assets including confidential data, intellectual ownership,
                physical equipment, and more. Policies reduce the risk of unauthorized access to these assets that can
                cause data theft or
                harm.
                Moreover, cybersecurity risks are hard to measure and be
                assessed. Security policies help identify and assess these cybersecurity risks, by implementing measures
                that help
                organizations to mitigate these risks effectively.
            </p>
        </div>
    </div>
</section>
{%endblock%}